$blue-dark: #002e5b;
$yellow: #fde42c;
$gray-dark: #333333;
$gray-light: #666666;
$white: #ffffff;
$font-primary: 'Montserrat', sans-serif;

@font-face {
  font-family: 'SegoeUI';
  src: url(../fonts/SegoeUI.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'MyriadPro';
  src: url(../fonts/MyriadPro.ttf);
  font-weight: 400;
}

@import 'reset.scss';

body {
  color: $gray-dark;
  font-family: $font-primary;
  line-height: 1.25;
}

h2 {
  color: $blue-dark;
  font-size: 1.9375rem;
  line-height: 1;
  margin-bottom: 25px;
  text-transform: uppercase;  
}

h3 {
  color: $blue-dark;
  font-size: 21px;
  line-height: 48px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1202px;
  a {
    color: #002e5b;
    font-weight: 700;
    line-height: 25px;
//    text-transform: uppercase;
  }
  .text_gray-dark {	
    /*color: $gray-dark;*/
  }
  .text_gray-light {
    color: $gray-light;    
    font-family: "SegoeUI";
    font-size: 21px;
    line-height: 25px;
  }
}

.bg-main {
  background-image: url(../img/bg-header-slider-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 890px;
}

.navbar {
  padding-top: 45px;
  
  .nav-item {
    align-self: center;
    &:last-child {
      margin-left: 10px;
    }
    .nav-link {
      color: $white;
      font-size: 14px;
      letter-spacing: 0.3px;
      padding-left: 22px;
      padding-right: 22px;
      text-transform: uppercase;
    }
  }


  .dropdown { 
  .dropdown-toggle_english {
    display: block;
    padding-right: 12px;
    padding-left: 0;
    
    span {
      background-image: url(../img/icon-lang-english.png);
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 32px;
      padding: 0;
      width: 32px;
    }
    
    &:after {
      margin-left: 4px;
      position: absolute;
      right: 0;
      top: calc(50% - 2px);
    }
    }
  }
}

.slider-header{
  
  h1 {
    color: $white;
    font-size: 3.1875rem;
    line-height: 1;
    max-width: 300px;
    text-align: right;    
  }
  
  &__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  
  &__slide-content {
    padding-right: 220px;
    padding-top: 84px;
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
      height: 378px;
      background-image: url(../img/border-cropped_yellow.svg);
      background-image: url(../img/img-square_yellow.png);
      background-position: 0 0;
      background-repeat: no-repeat;      
    }
   & > a {
    color: $yellow;
    display: block;
    font-size: 1.3125rem;
    font-weight: 700;
    text-align: right;
    }
    
    
  }
  
  button {
    background: none;
    border: none;
    color: $yellow;
    font-family: "MyriadPro";
    font-size: 0.75rem;
    text-transform: uppercase;
    transition: 0.3s;
    vertical-align: top;
    letter-spacing: 0.3px;
    &:hover{
      color: $white;
    }
  }
  
  &__buttons {
    
  }
  &__btn-prev, &__btn-next {
    vertical-align: top;
  }
  &__btn-prev:before, &__btn-next:after {
    content: '';
    background-image: url(../img/icon-arr-left_yellow.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 17px;
    position: relative;
    transition: 0.3s;
    vertical-align: top;
    width: 21px;
  }
  &__btn-prev {
    &:before {    
      margin-right: 24px;    
    }
    &:after {
      content: '/';
      display: inline-block;
      margin-left: 10px;
      margin-right: -3px;
      position: relative;
    }
    &:hover:after{
      color: $yellow;
    }  
    &:hover:before {
      background-image: url(../img/icon-arr-left_white.svg);
    }
  }
  &__btn-next {
    &:after {
      margin-left: 20px;
      transform: rotate(180deg);
    }
    &:hover:after {
      background-image: url(../img/icon-arr-left_white.svg);
    }
  }
}

.block-contactnow {
  background-color: $blue-dark;
  height: 90px;
  padding-top: 23px;
  p{
    color: $white;
    font-family: Montserrat;
    font-size: 21px;
    letter-spacing: -0.2px;
    line-height: 41px;
  }
  .btn {
    background-color: $yellow;
    border: none;
    color: $blue-dark;
    font-family: $font-primary;
    font-weight: 700;
    height: 44px;
    padding: 0 18px;
    text-transform: uppercase;
  }
}

.block-contact-maps {
  padding-bottom: 95px;
  padding-top: 95px;
  &__office {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
    width: 370px;
  }
  h2 {
    margin-bottom: 18px;
    + p {
      color: $gray-light;
      max-width: 570px;
      margin: 0 auto;
      margin-bottom: 40px;    
      font-family: "SegoeUI";
      font-size: 21px;
    }
  }
  h3 {
    letter-spacing: -2.5px;
    line-height: 1;
    margin-bottom: 25px;
  }
  li {padding-left: 38px;position: relative;}
  li, li a {
    color: $blue-dark;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 15px;    
  }
  li:before {
    content: '';
    display: inline-block;
    height: 13px;
    left: 0;
    position: absolute;
    top: 0;
    width: 13px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .minimap {
    height: 240px;
  }
  &__office-contacts {
    min-height: 220px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-top: 40px;
  }
  .row {
    padding: 0 15px;
  }
  &__address:before{background-image: url(../img/icon-map-pointer.svg);}
  &__email:before{background-image: url(../img/icon-email.svg);}
  &__phone:before{background-image: url(../img/icon-mobile-phone.svg);}
}

.block-risk-reduce {
  overflow: hidden;
  padding: 95px 0;
  img {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);  
  }
  .col_bg-line {
	  text-align: right;
    &:after {
      left: 200px;
    }
  }
  
}

.block-graph {
  background-color: #f4f4f4;
  padding: 95px 0;
}

.block-popular-services {
  padding-bottom: 95px;
	padding-top: 95px;
  h2 {
    margin-bottom: 15px;
    + p {
      display: inline-block;
      margin-bottom: 43px;
      max-width: 540px;
    }
  }
  h3 {
    margin-bottom: 5px;
    margin-top: 20px;    
  }
}
.row-description {
  p {
    color: $gray-dark;
    font-family: "SegoeUI";
    line-height: 1.5625rem;
  }	
}
.block-funfacts {
  background-image: url(../img/bg-funfacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  padding-top: 128px;
  p {
    color: $white;
    font-family: "SegoeUI";
    font-size: 0.875rem;
    letter-spacing: 3px;
    line-height: 3rem;
    text-transform: uppercase;
    span {
      color: $white;
      display: block;
      font-family: $font-primary;
      font-size: 3rem;
      line-height: 1.25;
      letter-spacing: 11px;
      text-transform: uppercase;
    }
  }
}

.col_bg-line {
  position: relative;
  > * {
    position: relative;
    z-index: 8;
  }
  &:after {
    content: '';
    background-color: $yellow;
    width: 270px;
    height: 580px;
    top: -110px;
    position: absolute;
    left: 130px;
    z-index: 0;
  }
}

.block-whywe {
  background-color: $white;
  overflow: hidden;
  .col {
    padding: 0 10px;
    &-text {
      padding-left: 20px;
    }
  }
  .container {
    height: 525px;
    padding-top: 95px;    
  }
}

.col-text {
//  padding-left: 20px;
  h2 {
    margin-bottom: 20px;
    max-width: 500px;
  }
  p {
    color: $gray-dark;
    font-family: 'SegoeUI';
//    letter-spacing: -1px;
    line-height: 25px;
    max-width: 540px;
  }
  .text_gray-light {
//    letter-spacing: 0px;
    margin-bottom: 18px;
    max-width: 500px;
  }
  a {
    border-bottom: 2px solid $blue-dark;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}

.block-review {
  background-image: url(../img/bg-review.png);
  background-repeat: no-repeat;
  background-size: cover;
  p{
    color: $white;
    font-family: "MyriadPro";
    font-size: 1.25rem;
    line-height: 38px;
  }
  .block-review__subscribe{
    color: $white;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 4;
  }
}

footer {
  height: 80px;
  padding-top: 25px;
  .copyright {
    align-self: center;
    color: $white;
    vertical-align: middle;
    a {
      color: $yellow;
      text-transform: none;
    }
  }
  background-color: $blue-dark;
}

.social {
  margin-right: 6px;
  margin-top: 5px;
  text-align: right;
  li {
    display: inline-block;
    + li {
      margin-left: 14px;
    }
  }
  
  &__link {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 16px;
    &_facebook {
      background-image: url(../img/icon-facebook_white.svg);
      width: 12px;
      &:hover {
        background-image: url(../img/icon-facebook_yellow.svg);
      }
    }    
    &_gplus {
      background-image: url(../img/icon-gplus_white.svg);
      width: 22px;
      &:hover {
        background-image: url(../img/icon-gplus_yellow.svg);        
      }
    }
    &_instagram {
      background-image: url(../img/icon-instagram_white.svg);
      width: 16px;
      &:hover {
        background-image: url(../img/icon-instagram_yellow.svg);
      }
    }
    &_twitter {
      background-image: url(../img/icon-twitter_white.svg);
      width: 16px;
      &:hover {
        background-image: url(../img/icon-twitter_yellow.svg);
      }
    }
    
  }
}